.row_st {
    background-color:#2C3E50 ;
    padding: 15px;
}

.col_mn {
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-color: #1ABC9C;
    color: white;
    padding: 40px;
}

.col_hero{
    border: 1px dashed white;
    padding: 10px;
}