.row_st {
    background-color:#2C3E50 ;
    padding: 15px;
}

.col_mn {
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*****HERO RULES***/
.hero {
    background-color: #1ABC9C;
    color: white;
    padding: 40px;
}

.col_hero{
    border: 1px dashed white;
    padding: 10px;
}
 /*****PORTFOLIO RULES****/
.col_pf {
    background-color: #1ABC9C;
    padding: 50px;
    border: 1px dashed black;
    margin: 10px;
}

.portfolio{
    border: 1px dashed black;
    padding: 50px;
}

.rouge {
    background-color: #BA4B63;

}

.blue_sea {
    background-color: #1EA4B6;
    
}

.black {
    background-color: #140F0F;
    
}

.blue_sky {
    background-color:#1C83C1 ;
    
}

.blue_night {
    background-color:#0E38B5 ;
    
}

.beige {
    background-color:#CCB2A3 ;
}

/**ABOUT US RULES****/

.about-us{
    background-color: #1ABC9C;
    color: white;
    padding: 30px;
}

.bottom {
    border: 1px dashed white;
    text-align: center;
}


/*****CONTACT US RULES*****/

.contact-us{
    padding: 50px;
    border: 1px dashed black;

}

.col_ct {
    padding: 10px;
}

.col_ct::after {
    background-color: rgb(175, 175, 175);
    content: "";
   display: block;
   width: 900px;
   height: 1px;
}

.bottom_g {
    border: 1px dashed #1ABC9C;
}




