
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}


a{
   color: currentColor;
   text-decoration: none;
}


.star {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.star::before {
    display: table;
    content: "";
    background-color: white;
    padding: 2px;
    width: 100px;
    height: 2px;
    border-radius: 50px;
}

.star::after {
    display: table;
    content: "";
    background-color: white;
    padding: 2px;
    width: 100px;
    height: 2px;
    border-radius: 50px;
}

.star_dark {
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.star_dark::before {
    display: table;
    content: "";
    background-color: black;
    padding: 2px;
    width: 100px;
    height: 2px;
    border-radius: 50px;
}

.star_dark::after {
    display: table;
    content: "";
    background-color: black;
    padding: 2px;
    width: 100px;
    height: 2px;
    border-radius: 50px;
}





/******MENU RULES****/

.main-header{
    background-color:#2C3E50 ;
    padding: 10px;
    color: white;
}




/*****HERO RULES***/
.hero {
    background-color: #1ABC9C;
    color: white;
   
}



 /*****PORTFOLIO RULES****/


/**ABOUT US RULES****/

.about-us{
    background-color: #1ABC9C;
    color: white;
    padding: 30px;
}




/*****CONTACT US RULES*****/

.contact-us{
    color: black;

}

.bt-green{
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
}

/****FOOTER RULES*****/
.page-footer {
    background-color:#3A546D ;
}

.footer-copy {
    background-color: #2C3E50;
}


.link_footer{
    color: #1ABC9C;
}

